* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #778da9;
    padding: 10px;
}

header h1 {
    padding: 10px;
    text-align: center;
    font-size: 2.5em;
}

main .texto {
    padding: 15px;
    margin: 15px;
}